<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <script type="text/javascript" src="../js/lib/axios/dist/axios.standalone.js"></script>
      <script type="text/javascript" src="../js/lib/CryptoJS/rollups/hmac-sha256.js"></script>
      <script type="text/javascript" src="../js/lib/CryptoJS/rollups/sha256.js"></script>
      <script type="text/javascript" src="../js/lib/CryptoJS/components/hmac.js"></script>
      <script type="text/javascript" src="../js/lib/CryptoJS/components/enc-base64.js"></script>
      <script type="text/javascript" src="../js/lib/url-template/url-template.js"></script>
      <script type="text/javascript" src="../js/lib/apiGatewayCore/sigV4Client.js"></script>
      <script type="text/javascript" src="../js/lib/apiGatewayCore/apiGatewayClient.js"></script>
      <script type="text/javascript" src="../js/lib/apiGatewayCore/simpleHttpClient.js"></script>
      <script type="text/javascript" src="../js/lib/apiGatewayCore/utils.js"></script>
      <script type="text/javascript" src="../js/apigClient.js"></script>
      <script src="../js/main.js"></script>
      <!-- Fetch Image from URL -->
      <script>
        function loadImage() { 
          var imgURL = window.location.protocol + "//" + window.location.host + "/" + window.location.pathname + window.location.search;
          document.getElementById("visitor-img").src = imgURL;
        } 
      </script>
  </head>
  <body onload="loadImage()">
    <div class="container">  
      <form id="contact" action="" method="post">
        <h3>Visitor Information</h3>
        <h4>Fill information about this visitor</h4>
        <!-- Get visitor's image from rekognition URL -->
        <img id="visitor-img" class="img-fluid" alt="Responsive image" height="450px" width="350px">
        <fieldset>
          <input placeholder="Name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Phone Number" type="text" tabindex="2" required>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>